.add-edit-task-form {
  display: flex;
  flex-wrap: wrap;
}

/* header ------------------- */

.add-edit-task-form-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-edit-task-form-header > button {
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  background-color: #d42745;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-edit-task-form-header svg {
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 3px;
  color: black;
}

.message-box-delete {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  z-index: 9999;
}

.message-box-delete div {
  display: flex;
  justify-content: center;
}

.message-box-delete button {
  justify-content: center;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}

.message-box-delete button:nth-child(1) {
  background-color: #d42745;
}

.message-box-delete button:nth-child(2) {
  background-color: #04c300;
}

/*  title and description -------------------------------------- */

.title-task-form {
  width: 66%;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.title-task-form h3 {
  margin-left: 10px;
  margin-right: 15px;
  white-space: nowrap;
}

.title-task-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid;
  font-size: 14px;
}

.textarea-task-form {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid;
  font-size: 14px;
  font-family: "Inter";
  margin-bottom: 5px;
}

.textarea-task-form::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* date and priority -------------------- */

.date-priority-task-form,
.list-task-form {
  width: 33%;
  padding-right: 15px;
  box-sizing: border-box;
}

.date-priority-task-form h3 {
  margin-bottom: 10px;
  margin-left: 10px;
}

.date-priority-task-form .input-date {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid;
  font-size: 14px;
}

.date-priority-task-form div {
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 9px;
}

.date-priority-task-form button {
  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 8px 15px;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.date-priority-task-form button.selected {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.date-priority-task-form button .circle1,
.date-priority-task-form button .circle2,
.date-priority-task-form button .circle3 {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

.date-priority-task-form button .circle1 {
  color: #38e635;
}

.date-priority-task-form button .circle2 {
  color: #f6a811;
}

.date-priority-task-form button .circle3 {
  color: #f52f52;
}

/* lists ---------------- */

.list-task-form-title {
  margin: 0;
  margin-left: 10px;
}

.list-task-form > div:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-task-form > div:nth-child(2) {
  border: 1px solid black;
  border-radius: 10px;
  height: 190px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.list-task-form button {
  all: unset;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 9px 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.list-task-form button.selected {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.list-task-form .square {
  background-color: blue;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

/* Groups ----------------------- */

.group-task-form {
  width: 34%;
}

.group-task-form > div > h3 {
  margin: 0;
  margin-left: 10px;
}

.group-task-form div:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group-task-form div:nth-child(2) {
  border: 1px solid black;
  border-radius: 10px;
  height: 190px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.group-task-form button {
  all: unset;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 9px 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.group-task-form button.selected {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.group-task-form svg,
.list-task-form svg {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.group-task-form div:nth-child(2) svg {
  margin-right: 10px;
}
